*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
    grid-column: 2/-2;
    grid-row: 2/-2;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#frameTitle{
    text-align: center;
    color: rgb(88, 62, 0);
    font-size: 40px; 
    height: 60px;
    border-bottom: 2px solid rgb(88, 62, 0);
    margin-bottom: 50px;
    flex-shrink: 0;
}

.fields{
    display: grid;
    grid-template-rows: repeat(4,20%);
    grid-template-columns: repeat(10,10%);
    height: 100px;
    flex-shrink: 0;
}

.fields label{
    grid-column: 3/9;
    grid-row: 2/4;
    flex-shrink: 0;
}

.fields input{
    grid-column: 3/9;
    grid-row: 4/5;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 5px;
    flex-shrink: 0;
}

#submit{
    height: 30px;
    width: 60%;
    margin-top: 60px;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 5px;
    flex-shrink: 0;
}

#authChanger{
    text-align: center;
    flex-shrink: 0;
    height: 30px;
}

#message{
    grid-row: 5/-5;
    grid-column: 5/-5;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 5px;
    color: rgb(88, 62, 0);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#message #title{
    height: 30px;
    border-bottom: 2px solid rgb(88, 62, 0);
    flex-shrink: 0;
}

#message #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#message button{
    height: 30px;
    flex-shrink: 0;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-bottom: 10px;
}