*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

#main{
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(19,82px);
    grid-template-rows: repeat(22,80px);
    height: 100%;
    width: 105%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1476px){
    #main{
        overflow-x: scroll;
    }
}

@media (min-width: 1596px){
    #main{
        grid-template-columns: repeat(10,1fr);
    }
}

nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(88, 62, 0);
    color: rgb(88, 62, 0);
    display: flex;
}

label{
    color: rgb(88, 62, 0);
}

nav label, footer label{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    grid-column: 1/-1;
    grid-row: 21/-1;
    border-top: 2px solid rgb(88, 62, 0);
}

footer label{
    width: 100%;
}

#navBarLogo{
    font-family: "pompiere";
    font-size: 30px;
    width: 15%;
    text-align: center;
}

#searchBarSection{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
}

#specialStyleRule{
    width: 100%;
    height: 40px;
    display: flex;
}

#categoriesButton{
    color: rgb(88, 62, 0);
    width: 30%;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchButton{
    color: rgb(88, 62, 0);
    width: 30%;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#searchBar{
    height: 37px;
    border-radius: 0px;
    border: 0px;
    border-top: 2px solid rgb(88, 62, 0);
    border-bottom: 2px solid rgb(88, 62, 0);
}

#categoriesMenu{
    grid-column: 3/7;
    grid-row: 2/3;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#categoriesMenu label{
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(88, 62, 0);
    flex-shrink: 0;
}
/*generic code*/

#productImage{
    grid-row: 3/7;
    grid-column: 2/6;
    object-fit: contain;
    object-position: center;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

#productData{
    grid-row: 3/7;
    grid-column: 7/14;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-left: 5%;
    width: 95%;
}

#productData .data{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#productData button{
    width: 45%;
    border:2px solid rgb(88, 62, 0);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 6%;
}

#productData section{
    width: 45%;
    border:2px solid rgb(88, 62, 0);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 6%;
    display: flex;
    flex-shrink: 0;
    height: 10%;
    justify-content: center;
    text-align: center;
}

#productData section label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#categoryLabel{
    grid-column: 1/-1;
    grid-row: 8/9;
    text-align: center;
    width: 100%;
    font-size: 40px;
}

#products{
    grid-column: 2/-2;
    grid-row: 10/15;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
}

#product{
    width: 1000px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-left: 2px solid rgb(88, 62, 0);
}