*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

#main{
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(19,82px);
    grid-template-rows: repeat(16,80px);
    height: 100%;
    width: 105%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1476px){
    #main{
        overflow-x: scroll;
    }
}

@media (min-width: 1596px){
    #main{
        grid-template-columns: repeat(10,1fr);
    }
}

nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(88, 62, 0);
    color: rgb(88, 62, 0);
    display: flex;
}

label{
    color: rgb(88, 62, 0);
}

nav label, footer label{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer{
    grid-column: 1/-1;
    grid-row: 15/-1;
    border-top: 2px solid rgb(88, 62, 0);
}

footer label{
    width: 100%;
}

#navBarLogo{
    font-family: "pompiere";
    font-size: 30px;
    width: 15%;
    text-align: center;
}

#searchBarSection{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
}

#specialStyleRule{
    width: 100%;
    height: 40px;
    display: flex;
}

#categoriesButton{
    color: rgb(88, 62, 0);
    width: 30%;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchButton{
    color: rgb(88, 62, 0);
    width: 30%;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#searchBar{
    height: 37px;
    border-radius: 0px;
    border: 0px;
    border-top: 2px solid rgb(88, 62, 0);
    border-bottom: 2px solid rgb(88, 62, 0);
}

#categoriesMenu{
    grid-column: 3/7;
    grid-row: 2/3;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

#categoriesMenu label{
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid rgb(88, 62, 0);
    flex-shrink: 0;
}

/*generic style rules*/

#welcomeMessage{
    grid-row: 3/4;
    grid-column: 7/-7;
    color: rgb(88, 62, 0);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#ordersPanel{
    grid-row: 5/10;
    grid-column: 6/-6;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#ordersPanel #panelTitle{
    height: 10%;
    border-bottom: 2px solid rgb(88, 62, 0);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ordersPanel #orders{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-shrink: 0;
    height: 90%;
}

#ordersPanel #orders .order{
    height: 20%;
    flex-shrink: 0;
    border-bottom: 2px solid rgb(88, 62, 0);
    display: flex;
    flex-direction: column;
}

#ordersPanel #orders .order #data{
    height: 50%;
    border-bottom: 2px solid rgb(88, 62, 0);
    display: flex;
    overflow-x: scroll;
    flex-shrink: 0;
}

#ordersPanel #orders .order #data label{
    display: flex;
    overflow-x: scroll;
    flex-shrink: 0;
    width: 30%;
    border-right: 2px solid rgb(88, 62, 0);
}

#ordersPanel #orders .order button{
    background-color: white;
    border: none;
    color: rgb(88, 62, 0);
}

#errorMessage{
    position:sticky;
    top: 260px;
    left: 650px;
    width: 240px;
    height: 200px;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
    display: flex;
    background-color: white;
    flex-direction: column;
}

#errorMessage #title{
    border-bottom: 2px solid rgb(88, 62, 0);
    flex-shrink: 0;
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow-y: scroll;
    font-size: 12px;
}

#errorMessage .content{
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#errorMessage div{
    width: 100%;
    text-align: center;
    height: 30px;
}

#errorMessage button{
    text-align: center;
    width: 70%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(88, 62, 0);
    border-radius: 3px;
}